<div class="container">
  <div class="sc-dashboard-row row" >
    <div class="col-xs-12 col-sm-8 col-lg-8 col-xlg-8 pl-0 pr-xs-0 mt-xs-4 mb-xs-2 pr-sm-2 mt-sm-0">
      <div class="sc-panel sc-panel--basic">
        <div class="sc-picture__profile">
          <div class="sc-picture__profile__photo d-xs-none d-sm-none d-md-none d-lg-inline-block d-xl-inline-block">
          <picture [ngClass]="styleSizePhoto" class="d-inline-block" >
            <img (error)="$event.target.src = '../../../../assets/img/icons/avatar-menu.svg'" [src]="customer.urlPhoto" (load)="imgSize()"
            #imgProfile alt=""/>
          </picture>
        </div>
        </div>
        <div class="sc-info-client">
          <div class="sc-info-client__fullname">
            <span class="sc-info-client__salutation qa-label-hello qa-hello-credits">{{'lbl_hello_credits' | mapConfigLang}}</span>
            <span class="sc-dashboard--text-sm">
              <span class="sc-info-client__fullname__names qa-label-name-customer">{{customer.firstName}}
                {{customer.secondName}}</span>
              <span class="sc-info-client__fullname__names qa-label-lastname-customer">{{customer.firstLastName}}
                {{customer.secondLastName}}</span>
            </span>
          </div>
        </div>
        <div class="sc-client-state" [ngClass]="{'sc-client-state--negated': customer.status == stateCustomer.negated }"
        *ngIf="customer.status != 0" [style.visibility]="customer.status ? 'visible' : 'hidden'">
          <span class="sc-client-state__text qa-label-status-customer">
            {{ (customer.status == stateCustomer.active ? 'status_request_active': null ) | mapConfigLang}}</span>
        </div>
        <div class="sc-client-state" [ngClass]="{'sc-client-state--pending': customer.status == stateRequest.pending }"
        *ngIf="customer.status != 0" [style.visibility]="customer.status == stateRequest.pending ? 'visible' : 'hidden'">
          <span class="sc-client-state__text qa-label-status-customer">
            {{ (customer.status == stateRequest.pending ? 'status_request_pending': null ) | mapConfigLang}}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-lg-4 col-xlg-4 px-0 mb-xs-1">
      <div class="sc-panel sc-panel--full text-center sc-dashboard--text-font">
        <div class="sc-client-amount"
             *ngIf="customer.status == stateCustomer.active && customer.amount > 0">
          <div class="sc-client-amount--available">
            <span
              class="sc-client-amount__title qa-label-available-ammount">{{'lbl_available_ammount' | mapConfigLang}}</span>
            <span
              class="sc-text--xxlg qa-label-available-ammount-customer">{{customer.amountAvailable | currency: "COP":"$":'3.0' }}</span>
          </div>
          <hr>
          <div class="sc-client-amount--total">
            <span class="sc-client-amount__title qa-label-ammount">{{'lbl_total_ammount' | mapConfigLang}}</span>
            <span class="sc-text--xlg qa-label-ammount-customer">{{customer.amount | currency:'COP':'$':'3.0'}} </span>
          </div>
        </div>
        <div class="sc-client-amount--empty" *ngIf="customer.status == stateCustomer.new || customer.status == stateRequest.pending" >
          <img src="../../../../assets/img/icons/icon-amount-gray.png" class="sc-client-amount--icon">
          <span [innerHTML]="'lbl_empty_ammount' | mapConfigLang" class="sc-client-amount--empty__text"></span>
        </div>
        <div class="sc-client-amount--negated" *ngIf="customer.status == stateCustomer.negated">
          <img src="../../../../assets/img/icons/icon-negated-user.svg" class="sc-client-amount__icon-denied">
          <span class="sc-client-amount--negated__text" [innerHTML]="'txt_denied_information' | mapConfigLang"></span>
        </div>
        <span>{{amount}}</span>
        <div class="sc-client-amount--empty" *ngIf="customer.status == stateCustomer.active && (customer.amount == 0 || customer.amount == undefined)" >
          <img src="../../../../assets/img/icons/icon-clock.svg" class="sc-client-amount--icon-clock">
          <span [innerHTML]="'lbl_one_moment_please' | mapConfigLang" class="sc-client-amount--empty__text-clock"></span>
        </div>
      </div>
    </div>
  </div>
</div>
