@import '../../../../assets/bootstrap/variables';

.card-credit{
  border: $sc-card-border solid 1px;
  border-radius: 0.3rem;
  height: min-content;

  &--title{
    font-size: 1rem;
    color: black;
  }
  &--subtitle{
    font-size: 0.8rem;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
    margin: 0;
}
