<div class="card-credit d-flex justify-content-start align-items-center w-75 mx-auto my-2 pl-4">
  <div class="custom-control custom-radio mr-3">
    <input
      [id]="credit.id"
      type="radio"
      name="credit"
      class="custom-control-input qa-radio-total"
      (click)="creditToPay.emit(credit)"
      />
    <label class="custom-control-label qa-label-total" [for]="credit.id"></label>
  </div>
  <div class="py-2 text-left">
    <span class="card_credit--title sc-text--bold qa-label-store">{{credit.storeName}}</span> <br>
    <span class="card_credit--subtitle qa-label-credit-value">{{ 'lbl_minimum_payment' | mapConfigLang }}</span>
    <span class="card_credit--subtitle sc-text--bold qa-label-credit-amount"> {{credit.value | currency: 'COP': '$' : '3.0'}}</span>
  </div>
</div>
