<div class="form-group sc-controls" [formGroup]="form" [ngClass]="{
  'is-error': form.get(name).invalid && (form.get(name).dirty || form.get(name).touched),
  'is-focus': form.get(name).dirty
}">
  <div class="input-group sc-field {{ theme }}">
    <!-- <div class="input-group-prepend sc-field__licon" *ngIf="licon"> -->
    <div class="input-group-prepend sc-field__licon" *ngIf="licon">
      <label for="{{ name }}" class="sc-icon m-0 {{ licon }}"></label>
    </div>

    <input type="{{ type }}" name="{{ name }}" id="{{ name }}"
    [ngbTypeahead]="searchDomain()"
      class="form-control sc-field__input qa-input-{{ name }} {{theme}}" 
      formControlName="{{ name }}"
      placeholder="{{ placeholder  | mapConfigBase }}"
      (paste)="$event.preventDefault()"
      (change)="changeInputEvent( $event )"
    >
    <label class="sc-field__label qa-label-{{ name }}" for="{{ name }}"
        [innerHTML]="label | mapConfigBase | mapConfigLang"></label>

    <div class="input-group-append sc-field__ricon" *ngIf="ricon">
        <label for="{{ name }}" class="sc-icon m-0 {{ ricon }}" (click)="riconActionClick()"></label>
    </div>
  </div>
  <div class="invalid-feedback sc-field__validation">
    <label class="sc-field__val-text qa-label-validator-{{name}} {{theme}}" for="{{ name }}"
      *ngFor="let validation of messagesValidation"
      [ngClass]="{ hide: !( ( form.get( name ).dirty || form.get( name ).touched ) && form.get( name ).hasError( validation ) ) }">
      <img src="../../../../assets/img/icons/icon-validation-error.png" class="mr-1" alt="">
      <span [innerHTML]="msgValidation[ validation ] | mapConfigBase | mapConfigLang" ></span>
    </label>
  </div>
</div>
