<div class="card sc-card-container mx-auto">
  <div>
    <div class="text-center">
      <h1
        class="text-primary sc-card-container__title mb-xs-2 qa-title-register"
        [innerHTML]="'lbl_sign_up' | mapConfigBase"
      ></h1>
      <span class="sc-card-container__subtitle qa-subtitle-register"
        [innerHTML]="'lbl_sign_up_document_indications' | mapConfigBase"
        ></span
      >
    </div>
    <form
      [formGroup]="formRegister"
      class="sc-card-content--mt-custom"
      (ngSubmit)="onSubmitForm()"
      autocomplete="off"
    >
      <div class="sc-user-control">
        <sc-control
          [form]="formRegister"
          name="name"
          type="text"
          label="txt_hint_name"
          [msgValidation]="{ pattern: 'msj_error_valid_name',
          maxlength: 'msj_error_long_name',
          minlength: 'msj_error_short_name'}"
        >
        </sc-control>
      </div>
      <div class="sc-user-control pt-4">
        <sc-control
          [form]="formRegister"
          name="email"
          type="email"
          label="txt_hint_email"
          theme="default-form"
          (valueChange)="verify_email.updateValueAndValidity()"
          [msgValidation]="{ pattern: 'msj_error_invalid_email_sign_up' }"
        >
        </sc-control>
      </div>
      <div class="sc-user-control ">
        <sc-control
          [form]="formRegister"
          name="verify_email"
          type="email"
          label="txt_hint_confirm_email"
          theme="default-form"
          [msgValidation]="{
            emailMatch: 'msj_error_no_match_email',
            emailNotExist: 'msj_email_not_exist'
          }"
        >
        </sc-control>
      </div>
      <div class="sc-user-control">
        <sc-control
          [form]="formRegister"
          name="password"
          type="password"
          label="txt_hint_password_sign_up"
          ricon="sc-icon--password-show"
          theme='register-user default-form'
          (valueChange)="verify_pass.updateValueAndValidity()"
          [msgValidation]="{ pattern: 'msj_error_invalid_password_length' }"
        >
        </sc-control>
      </div>
      <div class="sc-user-control">
        <sc-control
          [form]="formRegister"
          name="verify_pass"
          type="password"
          label="txt_hint_confirm_password_sign_up"
          ricon="sc-icon--password-show"
          theme='register-user default-form'
          [msgValidation]="{
            required: 'msj_error_no_match_password'
          }"
        >
        </sc-control>
      </div>
      <div class="form-group text-center pt-4 d-xs-flex justify-content-around">
        <a class="btn btn-outline-primary sc-user-control--btn-back mr-xs-1" [routerLink]="['/login']">
          {{'btn_back' | mapConfigBase}}
        </a>
        <button
          class="btn btn-primary sc-card-content--btn-form qa-btn-register ml-xs-2"
          type="submit"
          [disabled]="
            !(formRegister.valid && password.value === verify_pass.value)
          "
          [innerHTML]="'btn_login_send' | mapConfigBase"
        ></button>

      </div>
    </form>
  </div>
</div>
