@import '../../../../assets/bootstrap/variables';

.sc-user-control {
  padding-top: 0.5rem;
}

.sc-icon--password-show {
  filter: brightness(0.3);
}

.sc-icon--password-hide {
  filter: brightness(0.3);
}

.sc-user-control--btn-back {
  width: 168px;
  height: 41;
  border-radius: 6px;
  font-size: 18px;
}

.sc-field--home [form='formLogin'] {
  @at-root .sc-controls.is-error .sc-field__validation label {
    color: $danger;
  }
}
.sc-card-container {
  &__title {
    font-size: $sc-font-size-lg;
  }
}


::ng-deep .dropdown-item { -webkit-text-fill-color:#000000;}
::ng-deep .dropdown-item.active, .dropdown-item:active{background-color: #e2e2e2}