
<header class="sc-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg align-items-end">
      <a href="javascript:void(0)" (click)="getCustomerData()" class="sc-header__logo navbar-brand">
        <img class="d-xl-block d-lg-block d-xs-none d-sm-none d-md-none" width="100%" src="../../../../assets/img/logo-sc-personas.svg">
        <img class="d-xl-none  d-lg-none d-md-block d-sm-block d-xs-block" width="100%" src="../../../../assets/img/logo-sc--personas-movil.svg">
      </a>
      <div class="sc-navbar navbar-collapse">
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link nav-link__home qa-nav-home"
            [ngClass]="{'is-activate': validateRedirect()}"
              (click)="getCustomerData()"
              >
              <h6 class="text-primary">{{'lbl_menu_home' | mapConfigLang}}</h6>
            </a>
          </li>
          <li class="nav-item" *ngIf="env.release >= 4">
            <a href="javascript:void(0)" class="nav-link__stores qa-nav-where-to-buy">
              <img src="../../../../assets/img/icons/icon-stores.png" alt="" class="d-xl-none d-lg-none d-md-inline d-sm-inline d-xs-inline">
              <h6>{{'lbl_menu_stores' | mapConfigLang}}</h6>
            </a>
          </li>
          <li class="nav-item d-xl-none d-lg-none d-md-inline d-sm-inline d-xs-inline">
              <a href="javascript:void(0)" class="nav-link__account nav-link qa-nav-my-account" (click)="toogleMenu()">
                <h6>{{'lbl_menu_my_account' | mapConfigLang}}</h6>
              </a>
            </li>
        </ul>
        <div class="sc-header__profile">
            <a href="javascript:void(0)" class="sc-header__profile__photo d-xs-none d-sm-none d-md-none d-lg-inline-block d-xl-inline-block"
              aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'is-active': isToogle}"
              (click)="toogleMenu()">
              <picture [ngClass]="styleSizePhoto" class="d-inline-block" >
                <img (error)="$event.target.src = '../../../../assets/img/icons/avatar.svg'" [src]="customer.urlPhoto" (load)="imgSize()" #imgProfile/>
              </picture>
              <i class="sc-icon sc-icon--arrow"></i>
            </a>
            <div class="dropdown-menu dropup qa-navbar-menu" [ngClass]="{'is-active': isToogle}" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item qa-menu-edit"  (click)="validateCustomerStatus()" *ngIf="env.release >= 3"><span class="sc-icon sc-icon--edit-profile"></span>{{'item_edit_profile' | mapConfigLang}}</a>
              <!--
                <a class="dropdown-item qa-menu-help" href="javascript:void(0)"><span class="sc-icon sc-icon--help" ></span> {{'item_help' | mapConfigLang}}</a>
                <a class="dropdown-item qa-menu-shared" href="javascript:void(0)"><span class="sc-icon sc-icon--shared"></span>{{'item_shared' | mapConfigLang}}</a>
                <a class="dropdown-item qa-menu-about" href="javascript:void(0)"><span class="sc-icon sc-icon--about"></span>{{'item_about' | mapConfigLang}}</a>
              -->
              <div class="dropdown-divider d-sm-none d-md-none d-lg-none"></div>
              <span class="dropdown-item qa-menu-logout" (click)="closeSesion()" ><span class="sc-icon sc-icon--close-sesion"></span>{{'item_logout' | mapConfigLang }} </span>
            </div>
            <span class="d-xs-none d-sm-none d-md-none d-lg-inline d-xl-inline">{{name}} {{lastName}}</span>
        </div>
      </div>
    </nav>
  </div>
</header>

<app-sc-modal #modal id="navbar" *ngIf="env.release >= 3">
  <div class="sc-text--center">
    <div class="sc-update-data--content sc-update-data--container">
      <span class="sc-update-data--title">{{'lbl_title_update_my_data' | mapConfigLang}}</span>
      <span class="sc-update-data--paragraph">{{'lbl_update_my_data_instructions' | mapConfigLang}}</span>
      <a href="javascript:void(0)" class="card sc-card-list sc-card-list--movile" style="text-decoration: none;" (click)="goToUpdateMobile()">
        <img src="../../../../assets/img/icons/icon-update-phone.svg" class="sc-update-data--movile qa-update-icons">
        <span class="sc-card-list__link-text">{{'lbl_update_my_data_mobile_number' | mapConfigLang}}</span>
      </a>
      <a href="javascript:void(0)" class="card sc-card-list sc-card-list--email" style="text-decoration: none;" (click)="goToUpdateEmail()">
        <img src="../../../../assets/img/icons/icon-update-email.svg" class="sc-update-data--email qa-update-icons">
        <span class="sc-card-list__link-text">{{'lbl_update_my_data_email' | mapConfigLang}}</span>
      </a>
    </div>
  </div>
</app-sc-modal>
