@import '../../../../assets/bootstrap/variables';
@import '../../../../assets/bootstrap/index.scss';

.sc-header{
  font-size: 13px;
  margin-bottom: 1%;

  &--notify {
      display: none;
  }

  &--sticky & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  &__logo {
    display: inline-block;
    margin-top: 2%;
    width: 16%;

    @media screen and (max-width: map-get( $grid-breakpoints, 'lg' ) ) {
      // display: inline-block;
      width: 28%;
      margin: 4% auto;
    }

    @media screen and ( max-width: map-get( $grid-breakpoints, 'sm' ) ) {
      width: 35%;
      margin: 4% auto;
    }

    @media screen and ( max-width: map-get( $grid-breakpoints, 'xs' ) ) {
      width: 50%;
      margin: 4% auto;
    }
  }

  &__profile{
    //block
    min-width: 23%;
    //alignment
    margin-top: 3%;
    padding-right: 2%;
    //positioning
    position: absolute;
    right: 0;
    top: 0 ;
    //style
    white-space: nowrap;
    font-size: $sc-font-size-md;
    font-weight: bold;
    color: $primary;

    @media screen and ( max-width: map-get($grid-breakpoints, 'lg' ) ) {
      right: auto;
      top:auto;
      bottom: 100%;
      width: 100%;
      padding-right: 0;
    }

    &__photo{
      display: inline-block;
      width: 28%;
      padding-right: 6%;
      margin-right: 15%;
      img {
        @media screen and (max-width: map-get($grid-breakpoints, 'xl' )) {
          width: 48px;
        }
        width: 52px;
        margin-top: -50%;
        margin-left: auto;
      }
      picture {
        width: 100%;
        overflow: hidden;
        height: 0;
        padding: 50% 0;
        vertical-align: middle;
        border-radius: 50%;
      }

      // &--landscape, &--portrait{
      // }

      &--landscape img{
        width: auto;
        height: 52px;
        margin-left: -25%;
      }


      //status
      &:hover {
        width: 40%;
        background: #f8f8f8;
        padding: 3% 15% 3% 3%;
        box-shadow: 0 0 5px #ccc;
        border-radius: 50px;
        margin-top: -3%;
        margin-left: -3%;
        margin-right: 6%;
        margin-bottom: -3%;
      }

      &.is-active .sc-icon--arrow{
        transform: rotate(90deg);
        transition: transform .3s ease-out;
      }
    }

    .dropdown-menu{
      display: block;
      transform: scale(0);
      transform-origin: 50% 0;
      opacity: 0;
      z-index: 49;
      border-radius: 6px;
      box-shadow: 0px 3px 6px #00000029;
      transition: transform .3s ease-out;

      @media screen and (max-width: map-get($grid-breakpoints, 'lg' )) {
        position: static;
        padding: 1rem;
        width: 100%;
        display: none;
      }

      &.is-active{
        display: block;
      }

      .sc-icon{
        padding: 5%;
        vertical-align: middle;
        background-size: contain;

        @media screen and (max-width: map-get($grid-breakpoints, 'lg' )) {
          background-size: 2rem;

        }
        @media screen and (max-width: map-get($grid-breakpoints, 'md' )) {
          background-size: 1rem;

        }

        @media screen and (max-width: map-get($grid-breakpoints, 'sm' )) {
          padding: 7%;
          background-size: 1.5rem;
        }
      }
      .dropdown-item{
        cursor: pointer;
      }
      .dropdown-item:last-child{
        color: $primary;
      }

      //status
      &.is-active {
        transform: scale(1);
        opacity: 1;
      }

    }

  }

  @media screen and (max-width: map-get($grid-breakpoints, 'lg' )) {
    background-color:  $primary;
  }
}

.sc-navbar {
  padding: 0;
  .nav-link{
    // height: 30px;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 5%;
    h6 { margin-bottom: 0; }
    &:hover h6{
      cursor: pointer;
      font-weight: bolder;
      @media screen and (max-width: map-get($grid-breakpoints, 'lg' )) {
        color: #007AA4;
      }
    }

    @media screen and (max-width: map-get($grid-breakpoints, 'lg' )) {
      &__home:before{
        content: url('../../../../assets/img/icons/icon-home.svg');
      }
      &__home:hover:before{
       content: url('../../../../assets/img/icons/icon-home-hover.svg');
      }
      &__stores:before{
       content: url('../../../../assets/img/icons/icon-stores.svg');
      }
      &__stores:hover:before{
       content: url('../../../../assets/img/icons/icon-stores-hover.svg');
      }
      &__account:before{
       content: url('../../../../assets/img/icons/icon-my-account.svg');
      }
      &__account:hover:before{
       content: url('../../../../assets/img/icons/icon-my-account-hover.svg');
      }
    }
  }


  //status
  .is-activate {
    border-bottom: 2px solid#a7bf30;
    font-weight: bold;
  }

  @media screen and ( max-width: map-get($grid-breakpoints, 'lg' ) ) {
    position: fixed;
    bottom: 0%;
    left: 0;
    z-index: 5;
    width: 100%;
    border-top: solid 1px $primary;
    background-color: $white;

    .navbar-nav{
      align-items: center;
      justify-content: center;
      padding-left: 9%;
      padding-right: 9%;
      // height: 60px;
    }

    .nav-item{
      width: 20%;
      text-align: center;
      .nav-link{
        display: inline-block;
        padding-top: 15%;
        padding-bottom: 5%;
        color: $gray-400;
        border: none;
        font-weight: normal;
      }
      h6{
        white-space: nowrap;
        font-size: 100%;
      }

      @media screen and ( max-width: map-get( $grid-breakpoints, 'sm' ) ){
        width: 35%;
      }
    }
  }
}



.sc-icon{
  display: inline-block;
  width: auto;
  padding: 12%;

  &--arrow{
    margin-left: 20%;
    background-image: url('../../../../assets/img/icons/icon-arrow-down.svg');
    background-size: 68%;
    vertical-align: middle;
  }

  &--close-sesion{
    margin-right: 0.5rem;
    background-image: url('../../../../assets/img/icons/icon-logout.svg');
  }

  &--edit-profile{
    margin-right: 0.5rem;
    background-image: url('../../../../assets/img/icons/icon-edit-profile.svg');
  }

  &--help{
    margin-right: 0.5rem;
    background-image: url('../../../../assets/img/icons/icon-help.svg');
  }

  &--shared{
    margin-right: 0.5rem;
    background-image: url('../../../../assets/img/icons/icon-shared.svg');
  }

  &--about{
    margin-right: 0.5rem;
    background-image: url('../../../../assets/img/icons/icon-about.svg');
  }

}

.sc-card-list{
  text-align: center;
  height: 50px;
  //block
  display: block;
  width: 100%;
  //style
  color: #575757;
  font-size: $sc-font-size-md;
  white-space: normal;
  text-align: justify;
  //positioning
  vertical-align: top;
  margin-bottom: 0%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  margin-top: 5%;
  &--movile {
    margin-top: 10%;
    padding-top: 2.4%;
  }
  &--email{
    margin-bottom: 15%;
    padding-top: 5%;
  }
}

.sc-update-data{
  text-align: center;
  display: inline-block;
  margin-left: 0;
  &--content{
    display: inline-block;
    margin-left: 0;
    text-align: center;
  }
  &--container{
    display: inline-block;
    width: 75%;
  }
  &--title{
    font-size: $sc-font-size-lg;
    color: #007AA4;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 4%;
    display: block;
  }
  &--paragraph{
    font-weight: $sc-font-size-xxmd;
    color: #535353;
    font-weight: 400;
  }
  &--movile{
    margin-right: 10%;
    margin-left: 5%;
    height: 37px;
  }
  &--email{
    margin-left: 5%;
    margin-right: 7%;
    height: 24px;
  }
}
