@import '../../../../assets/bootstrap/variables';

.sc-card-container {
  &__title {
    font-size: $sc-font-size-lg;
    padding-bottom: 2rem;
  }
}

.sc-user-control{
  padding-bottom: 0.5rem;

}
.sc-control__select{
  border: 1px #A2B4CC solid;
  border-radius: 4px;
}


.sc-field--home [form = formSearch]{
  @at-root .sc-controls.is-error .sc-field__validation label{
    color: $danger;
  }
}
