<div class="card sc-card-container mx-auto">
  <div>
    <div class="text-center">
      <h1
        class="text-primary sc-card-container__title mb-4 qa-title-register"
        [innerHTML]="'lbl_restore_password_title' | mapConfigBase"
      ></h1>
      <span class="sc-card-container__subtitle qa-subtitle-register"
        [innerHTML]="'lbl_password_restore_indications' | mapConfigBase"
        ></span
      >
    </div>
    <form
      [formGroup]="formForgotPassword"
      class="sc-card-content--mt-custom"
      (ngSubmit)="onSubmitForm()"
      autocomplete="off"
    >
      <div class="sc-user-control">
        <div class="sc-user-control pt-4">
          <sc-control
            [form]="formForgotPassword"
            name="email"
            type="email"
            label="txt_hint_email"
            (valueChange)="email.updateValueAndValidity()"
            [msgValidation]="{ pattern: 'msj_error_invalid_email_sign_up' }"
          >
          </sc-control>
        </div>
      </div>

      <div class="form-group text-center pt-4 d-xs-flex justify-content-around">
        <a class="btn btn-outline-primary sc-user-control--btn-back mr-xs-1" [routerLink]="['/login']">
          {{'btn_cancel' | mapConfigBase}}
        </a>
        <button
          class="btn btn-primary sc-card-content--btn-form qa-btn-register ml-xs-2"
          type="submit"
          [disabled]="
            !(formForgotPassword.valid)
          "
          [innerHTML]="'btn_login_send' | mapConfigBase"
        ></button>
      </div>

    </form>
  </div>
</div>
