@import '../../../assets/bootstrap/variables';

.register-container {
  width: 100vw;
  height: 100vh;
  background: $primary-deg;
  overflow: auto;
  @media (max-width: 768px) {
  }
}

::ng-deep .sc-controls.is-error.is-error span {
  color: $danger !important;
}
