<div class="container-fluid bg-primary sc-full-height">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12 px-0">
      <div class="sc-brand sc-brand--alternative mx-auto">
        <picture>
          <img src="../../../assets/img/sc-logo-sm.png" alt="" srcset="" width="100%">
        </picture>
      </div>
      <app-form-forgot-recovery-password (eventSubmitForgotPassword)="sendFormForgotPassword($event)" #form></app-form-forgot-recovery-password>
    </div>
  </div>
</div>
