<div class="card sc-card-container">
  <div class="text-center">
    <h1 class="text-primary sc-card-container__title mb-4 qa-title-identity-validation" [innerHTML]="'lbl_tittle_token' | mapConfigLang"></h1>
    <p class="sc-card-container__info qa-info-identity-validation mb-4" [innerHTML]="'lbl_sub_tittle_token' | mapConfigLang"></p>
  </div>
  <div>
    <app-form-identity-validation [showControls]="showComunicationControls"
    (eventSubmitIdentityValidation)="sendFormIdentityValidation($event)" #form></app-form-identity-validation>
  </div>
  <div class="card-body d-xs-flex flex-xs-column">
    <button class="btn sc-card-container--normal-link sc-card-container__link qa-info-link" (click)="showNotificationUpdateData()">{{'lbl_not_access_to_options' | mapConfigLang}}</button>
  </div>
</div>
