@import '../../../assets/bootstrap/variables';

.sc-card-container {
  &__title {
    font-size: $sc-font-size-lg;
  }

  &--normal-link {
    color: $primary;
    font-size: 15px;
    text-decoration-line: underline;
  }
  &__link{
    text-align: center;
    font-size: $sc-font-size-md;
  }
  &__radio{
    text-align: center;
  }
}
