
<div class="card sc-card-container mx-auto">
    <div>
      <div class="text-center">
        <h1 class="text-primary sc-card-container__title mb-4 qa-title-token-validation">{{'lbl_tittle_send_token' | mapConfigLang}} <span *ngIf="validationType" >a</span></h1>
        <span *ngIf="validationType === 'email'">{{ maskValue(customerData.data.phoneNumber)}}</span>
        <span *ngIf="validationType === 'mobile'">{{ maskValue(email)}}</span>
      </div>
    <div>
      <app-form-validate-token (eventSubmitSendToken)="validateFunctionToExecute($event)" ></app-form-validate-token>
    </div>
</div>
