@import '../../../../assets/bootstrap/variables';


.sc-card-container {
  &__title {
    font-size: $sc-font-size-lg;
  }

  &--normal-link {
    color: $primary;
    font-size: 15px;
    text-decoration-line: underline;
  }
  &__link{
    text-align: center;
    font-size: $sc-font-size-md;
  }
  &__resend-link{
    text-align: right;
  }
}

.sc-token{

  &__control{
    width: 60%;
    margin: 0 auto;
    margin-top: 15%;
    &__right{
      text-align: right;
    }
  }

  &__validation{
    color: $danger;
    margin-top: 26%;
    text-align: center;
    font-size: $sc-font-size-md;
  }

  &__btns{
    margin-top: 12%;
    text-align: center;
  }
}

.sc-user-control--btn-back {
  width: 168px;
  height: 41px;
  border-radius: 6px;
  font-size: 18px;
}

.sc-card-container__title {
  scroll-margin-bottom: 5%;
  color: #71A000;
}

