<div class="sc-typeahead">
  <div class="input-group sc-control">
    <div class="input-group-prepend sc-field__input">
      <span class="input-group-text sc-icon sc-icon--location"></span>
    </div>
    <input type="text" class="form-control sc-field__input"
    [(ngModel)]="item"
    [ngbTypeahead]="searchElement()"
    (selectItem)="sendItemSelected.emit(item); validateSelected(item)"
    (ngModelChange)="sendItemSelected.emit(item); validateSelected(item)"
    [placeholder]="'lbl_search_city' | mapConfigLang"
    />
  </div>
  <div *ngIf="hasError" class="invalid-feedback sc-field__validation ">
    <img src="../../../../assets/img/icons/icon-validation-error.png" class="mr-1" alt="">
    <span class="sc-field__val-text">{{'msj_error_answer_empty' | mapConfigBase}}</span>
  </div>
</div>
