<div class="card sc-card-container mx-auto">
  <div class="text-center">
    <h1 class="text-primary sc-card-container__title mb-xs-2 qa-title-register" [innerHTML]="'lbl_tittle_update_mobile_number' | mapConfigLang"></h1>
    <span class="sc-card-container__subtitle qa-subtitle-register" [innerHTML]="'lbl_update_mobile_number_instructions' | mapConfigLang"></span>
  </div>
  <form class="sc-card-content"
    [formGroup]="formUpdateMobile"
    (ngSubmit)="onSubmitForm()">
    <div class="my-5">
      <sc-control
        [form]="formUpdateMobile"
        name="phone"
        type="text"
        theme="default-form"
        label="lbl_update_mobile_number_new_number"
        (valueChange)="verify_phone.updateValueAndValidity()"
        [msgValidation]="{ pattern: 'error_msj_update_phone_number'}"
      >
      </sc-control>
    </div>
    <div class="my-5">
      <sc-control
        [form]="formUpdateMobile"
        name="verify_phone"
        type="text"
        theme="default-form"
        label="lbl_update_mobile_number_confirm_number"
        [msgValidation]="{ mobileMatch: 'msj_error_update_my_data_mobile_number',
        pattern: 'error_msj_update_phone_number'}"
      >
      </sc-control>
    </div>
    <div class="text-center">
      <a class="btn btn-outline-primary sc-user-control--btn-back mr-xs-1" [routerLink]="['/dashboard']" [queryParams]="{validationType:'updateData'}">
        {{'btn_back' | mapConfigBase}}
      </a>
      <button class="btn btn-primary sc-card-content--btn-form qa-btn-register ml-xs-2"
      type="submit"
      [disabled]="!formUpdateMobile.valid">
        {{'lbl_continue' | mapConfigLang}}</button>
    </div>
  </form>
</div>
