<div class="card sc-card-container mx-auto">
  <div>
    <div class="text-center">
      <h1
        class="text-primary sc-card-container__title mb-4 qa-title-register"
        [innerHTML]="'lbl_tittle_password_restore' | mapConfigBase"
      ></h1>
      <span class="sc-card-container__subtitle qa-subtitle-register"
        [innerHTML]="'lbl_sign_up_document_indications' | mapConfigBase"
        ></span
      >
    </div>
    <form
      [formGroup]="formRecoveryPassword"
      class="sc-card-content--mt-custom"
      (ngSubmit)="onSubmitForm()"
      autocomplete="off"
    >
      <div class="sc-user-control">
        <sc-control
          [form]="formRecoveryPassword"
          name="new_password"
          type="password"
          label="txt_hint_new_password"
          ricon="sc-icon--password-show"
          licon="sc-icon--security"
          (valueChange)="verify_new_password.updateValueAndValidity()"
          [msgValidation]="{ pattern: 'msj_error_invalid_password_length' }"
        >
        </sc-control>
      </div>
      <div class="sc-user-control">
        <sc-control
          [form]="formRecoveryPassword"
          name="verify_new_password"
          type="password"
          label="txt_hint_confirm_password_sign_up"
          ricon="sc-icon--password-show"
          licon="sc-icon--security"
          [msgValidation]="{
            required: 'msj_error_no_match_password'
          }"
        >
        </sc-control>
      </div>
      <div class="form-group text-center pt-4 d-xs-flex justify-content-around">
        <button
          class="btn btn-primary sc-card-content--btn-form qa-btn-register ml-xs-2"
          type="submit"
          [disabled]="
            !(formRecoveryPassword.valid && new_password.value === verify_new_password.value)
          "
          [innerHTML]="'btn_save_new_password' | mapConfigBase"
        ></button>

      </div>
    </form>
  </div>
</div>
