@import '../../../assets/bootstrap/variables';
@import '../../../assets/bootstrap/sc-mixins';

$background-color: #f8f8f8;

$credit-success: #98BF11;
$credit-nullified: #97D2FF;


.sc-info-client {
  color: $primary;
  padding-bottom: 2%;
  padding-top: 3%;
  width: 42%;
}

.sc-dashboard-info{
  width: 100%;
  margin-top: 1%;

  &__credit-detail{
    box-shadow: 1px 1px 8px #00000029;
    width: 65%;
    background-color: $background-color;
    border-radius: 10px;
    padding: 2% 6%;
    margin-right: 1%;
    max-height: 318px;
  }

  &__credit-history{
    box-shadow: 1px 1px 8px #00000029;
    width: 33%;
    background-color: $background-color;
    border-radius: 10px;
    padding: 2%;
    margin-left: 1%;
  }

  &--detail-active{
    padding-left: 6%;
    margin-top: 2%;
  }
}

.sc-card-list{
  &--content{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &--title{
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &--normal{
    font-size: $sc-font-size-md;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &--btn-receipt{
    width: auto;
  }
}


.sc-dashboard--title{
  @include sc-title-primary( $sc-font-size-xxmd );
}
