
<div class="container px-0">
  <div class="sc-dashboard-info--detail-active">
    <span class="sc-dashboard--title">{{
      'lbl_tittle_credit_details' | mapConfigLang
    }}</span>
  </div>
  <div class="sc-dashboard-info d-xs-flex flex-row">
    <div class="sc-dashboard-info__credit-detail">
      <app-card-history-detail
        [detailCredit]="detailCredit$"
      ></app-card-history-detail>
    </div>
    <div class="sc-dashboard-info__credit-history px-2">
      <div class="mb-xs-1">
        <span class="sc-dashboard--title">{{
          'lbl_tittle_payment_history' | mapConfigLang
        }}</span>
      </div>
      <ng-container *ngFor="let credit of (detailCredit$ | async)?.payments">
        <div class="card sc-card-list sc-card-list--not-bg my-2">
          <div class="d-xs-flex flex-xs-row">
            <div class="d-xs-flex flex-xs-column">
              <span class="sc-card-list--normal qa-label-store">{{
                credit?.storeName
              }}</span>
              <span class="sc-card-list--normal sc-text--xmd"
                >{{ 'lbl_value_paid' | mapConfigLang }}
                <span
                  class="sc-text--xmd sc-text--bold qa-label-credit-value"
                  >{{
                    credit.creditValuePaid | currency: 'COP':'$':'3.0'
                  }}</span
                >
              </span>
              <span class="sc-card-list--normal sc-text--xmd pt-1"
                >{{ 'lbl_payment_date' | mapConfigLang }}
                <span class="qa-label-date-payment">{{
                  credit.transactionDate | date: 'dd/MM/yyyy'
                }}</span>
              </span>
            </div>
            <div class="text-center ml-auto my-auto">
              <button class="btn btn-outline-primary sc-card-list--btn-receipt sc-text--xmd py-2 qa-btn-receipt"
              (click)="getCreditReciept( credit?.paymentId )" >
                {{ 'btn_see_receipt' | mapConfigLang }}
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-sc-modal #modal [addClass]="modalWidth" >
  <div class="sc-credit-payment-plan">
    <iframe
      [src]="urlDocument | safeUrl"
      frameborder="0"
      [height]="viewer.height" width="100%"
    >
    </iframe>
  </div>
</app-sc-modal>
