<div class="container-fluid bg-primary">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12 m-auto">
      <div
        class="card sc-card-container my-4 pb-0"
        [ngClass]="{ 'p-top': removePadding }"
        *ngIf="step"
      >
        <div [ngSwitch]="step">
          <div *ngSwitchCase="steps.result">
            <div class="text-center my-4 pt-4">
              <h1
                class="text-primary sc-card-container__title mb-xs-2 qa-title-register"
                [innerHTML]="'lbl_select_credit_to_paid' | mapConfigBase"
              ></h1>
              <ng-container *ngFor="let credit of activeCredits">
                <app-sc-select-credit
                  [credit]="credit"
                  (creditToPay)=" singleCredit = $event; nextStep = true;"

                ></app-sc-select-credit>
              </ng-container>
              <div
                class="form-group text-center mt-xs-4 d-flex justify-content-center"
              >
                <button
                  class="btn btn-outline-primary sc-card-content--btn-form mr-3 qa-btn-register"
                  [innerHTML]="'btn_back' | mapConfigBase"
                  (click)="redirect()"
                  type="button"
                ></button>
                <button
                  class="btn btn-primary sc-card-content--btn-form ml-3 qa-btn-register"
                  type="submit"
                  type="button"
                  (click)="paymentProcess()"
                  [disabled]="!nextStep"
                  [innerHTML]="'btn_login_send' | mapConfigBase"
                ></button>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="steps.payment">
            <app-form-quick-payment
            [creditInfo]="singleCredit"
            [userInfo]="credit"
            (eventBackButton)="step = steps.result; removePadding = false"
            (eventSubmitPayment)="payCredit($event)">
            </app-form-quick-payment>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
