@import '../../../assets/bootstrap/variables';

.register-container {
  width: 100vw;
  height: 80%;
  background: $primary-deg;
  overflow: hidden;
  @media (max-width: 768px) {
  }
}

.sc-card-container {
  &__title {
    margin-top: -3rem;
    font-size: $sc-font-size-lg;
    padding-bottom: 2rem;
  }
}

.p-top{
  padding-top: 5% !important;
}

.sc-credit-payment-plan{
  width: 49vw;
  height: 80vh;
  margin-top: 5%;
}

::ng-deep .sc-controls.is-error.is-error span {
  color: $danger !important;
}
