<div class="container-fluid bg-primary sc-full-height">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12 px-0">
      <div class="sc-brand sc-brand--alternative mx-auto">
        <picture>
          <img class="img-fluid" src="../../../assets/img/sc-logo-sm.png" alt="" srcset="">
        </picture>
        </div>
        <app-form-recovery-password (eventSubmitRecoveryPassword)="sendFormRecoveryPassword($event)" #form></app-form-recovery-password>
    </div>
  </div>
</div>
