<app-navbar [customer]="customer" (eventCloseSesion)="closeSesion();"></app-navbar>
<div class="container">
  <router-outlet name="user-status"></router-outlet>
  <router-outlet name="quick-access"></router-outlet>
  <router-outlet name="main-content"></router-outlet>
</div>

<!-- TODO: Refactorizar duplicidad con nabvar component - Juan Mena -->
<app-sc-modal #modal id="navbar">
  <div class="sc-text--center">
    <div class="sc-update-data--content sc-update-data--container">
      <span class="sc-update-data--title">{{'lbl_title_update_my_data' | mapConfigLang}}</span>
      <span class="sc-update-data--paragraph">{{'lbl_update_my_data_instructions' | mapConfigLang}}</span>
      <a href="javascript:void(0)" class="card sc-card-list sc-card-list--movile" style="text-decoration: none;" (click)="goToUpdateMobile()">
        <img src="../../../../assets/img/icons/icon-update-phone.svg" class="sc-update-data--movile qa-update-icons">
        <span class="sc-card-list__link-text">{{'lbl_update_my_data_mobile_number' | mapConfigLang}}</span>
      </a>
      <a href="javascript:void(0)" class="card sc-card-list sc-card-list--email" style="text-decoration: none;" (click)="goToUpdateEmail()">
        <img src="../../../../assets/img/icons/icon-update-email.svg" class="sc-update-data--email qa-update-icons">
        <span class="sc-card-list__link-text">{{'lbl_update_my_data_email' | mapConfigLang}}</span>
      </a>
    </div>
  </div>
</app-sc-modal>
