@import '../../../assets/bootstrap/variables';
@import '../../../assets/bootstrap/sc-mixins';

$background-color: #f8f8f8;

.sc-info-client {
  display: inline-block;
  width: 50%;
  position: relative;
  color: $primary;
  margin-left: 7%;
  vertical-align: middle;

  &__fullname {
    display: inline;
    line-height: 1;
  }

  &__salutation {
    line-height: 1.5;
    @include sc-title-primary($sc-font-size-xlg);
  }

  &__fullname__names {
    display: block;
    @include sc-title-primary($sc-font-size-lg);

    &:last-child {
      margin-bottom: 2%;
    }
  }

  &__document {
    font-size: $sc-font-size-xmd;
  }
}

.sc-client-amount {
  line-height: 1.06;
  font-weight: bold;

  &__title {
    display: inline-block;
    width: 100%;
    font-size: $sc-font-size-xxmd;
    font-weight: 400;
  }

  &--available {
    padding-top: 1%;
    color: #1a7a03;
  }
  &--total {
    padding-bottom: 1%;
    color: $primary;
  }

  hr {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: 1px solid;
    color: #a2b4cc;
  }
}

.sc-client-state {
  color: #1a7a03;
  font-weight: bold;
  width: 22%;
  height: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;

  &:after {
    display: inline-block;
    content: '';
    background-color: #1a7a03;
    width: 20%;
    height: 100%;
    border-radius: 0 10px 10px 0;
  }

  &__text {
    display: inline-block;
    padding-right: 27%;
    position: absolute;
    right: 20%;
    line-height: 1;
    bottom: 10%;
    font-size: $sc-font-size-xxmd;
  }
}
@media screen and (max-width: map-get( $grid-breakpoints, 'lg') ) {
  .sc-info-client {
    margin-bottom: 10%;
    width: 58%;
  }
  .sc-client-state {
    width: 100%;
    top: 70%;
    &__text {
      position: relative;
      bottom: 0%;
      width: 32%;
      padding: 0%;
      text-align: left;
      vertical-align: middle;
    }
    &:after {
      content: '';
      width: 100%;
      height: 17%;
      border-radius: 0px 0 10px 10px;
    }
  }
}

.sc-dashboard-row {
  @media screen and (max-width: map-get($grid-breakpoints, 'lg' )) {

    .sc-panel {
      margin-bottom: 2%;
      &--list {
        text-align: center;
      }
      &__title {
        display: inline;
      }
      &__img {
        width: 35%;
      }
      &--full{
        box-shadow: none;
      }
    }
    .sc-credit {
      display: none;
      &__true {
        .sc-panel--list{
          text-align: left;
        }
        display: contents;
        text-align: left;
      }
    }
  }
}


.sc-credits{
  &--no-active-credits{
    text-align: center;
  }
  &__icons-history{
    width: 24%;
  }
  &--request{
    width: 28%;
  }
}

.sc-dashboard{
  &__no-credits
  {
    text-align: center;
    font-size: $sc-font-size-xmd;
    color: #007AA4;
    padding-bottom: 9%;
    padding-top: 9%;
    &--credit-history{
      padding-bottom: 27%;
      padding-top: 26%;
    }
    &--text{
      color: #535353;
      opacity: 0.39;
    }
  }
}
