@import '../../../../assets/bootstrap/variables';

.sc-user-control{
  padding-bottom: 0.5rem;

}
.sc-control__select{
  border: 1px #A2B4CC solid;
  border-radius: 4px;

}

.sc-field--home [form = formLogin]{
  @at-root .sc-controls.is-error .sc-field__validation label{
    color: $danger;
  }
}

.sc-card-container {
  &__title {
    font-size: $sc-font-size-lg;
  }
}

.sc-user-control--btn-back {
  width: 168px;
  height: 41;
  border-radius: 6px;
  font-size: 18px;
}

.error{
  color: #B00020;
  font-size: $sc-font-size-md;
}

.default-form:-webkit-autofill,
.default-form:-webkit-autofill:hover, 
.default-form:-webkit-autofill:focus, 
.default-form:-webkit-autofill:active{
  -webkit-text-fill-color:#535353;;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: none;
}