@import '../../../assets/bootstrap/index.scss';
/*component register*/
.sc-register {
  display: inline-block;
  width: 62%;
  text-align: center;
  vertical-align: middle;

  &__media {
    display: inline-block;
    margin-bottom: 15%;
  }

  &__text {
    display: inline-block;
    width: 92%;
    padding: 0 5%;
    color: $white;
    font-weight: 400;
    margin-bottom: 11%;
  }
  &__controls {
    display: inline-block;
    width: 55%;
    margin-bottom: 16%;

    @media (max-width: map-get($grid-breakpoints, 'sm' )) {
      width: 80%;
      .sc-btn-primary--lg{
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
      }
    }
  }
  &__fields {
    width: 100%;
    text-align: left;
  }

  @media (max-width: map-get($grid-breakpoints, 'sm' )) {
    width: 75%;
    padding-top:10%;
  }

}

.sc-social-register {
  text-align: center;
  line-height: normal;
  width: 338px;
  margin-top: 14%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 4%;

  &__footer{
    margin-top: 5%;
    color: #575757;
    font-size: $sc-font-size-md;
    line-height: $line-heignt-sm;
    display: block;
    margin-bottom: -1.5%;
  }

  &__link{
    color: #575757;
    font-size: $sc-font-size-md;
    line-height: $line-heignt-sm;
    text-decoration: underline;
  }

  &__btn{
    width: 100%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-position: left center;
    &--siste{
      background-image: url('../../../assets/img/icons/icon-register-sistecredito.svg');
    }

    &--google{
      background-image: url('../../../assets/img/icons/register-google.svg');
    }

    &--facebook{
      background-image: url('../../../assets/img/icons/register-facebook.svg');
    }

  }

}

.sc-card-list{
  text-align: center;
  &--link {
    height: 40px;
    //block
    display: block;
    width: 100%;
    //style
    color: #575757;
    font-size: $sc-font-size-md;
    white-space: normal;
    text-align: justify;
    //positioning
    vertical-align: top;
    margin-bottom: 0%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    margin-top: 5%;
    &:last-child{
        margin-right: 0;
    }
  }
}

.sc-additional-login{
  margin-top: 10%;
  border-top: 1.2px solid #A2B4CC;
  border-bottom-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  padding-left: 100px;
}

.sc-login-text{
  margin-top: -10px; background: white;
  width: 80px; text-align: center;
  font-size: $sc-font-size-md;
  color: #575757;
    font-weight: 500;
}

.quick-payment{
  margin: 2rem auto;
  color: $primary;
  background-color: white;
  border-radius: 0.3rem;
  font-size: 0.6rem;
  font-weight: 600;
  padding-top: 0.3rem;
  cursor: pointer;
}
