@import '../../../../assets/bootstrap/variables';

.sc-location-picker{
  width: inherit;
  height: 100%;
  margin: 5%;
  padding: 5%;

  &__title{
    font-weight: bold;
    color: $primary;
  }

  .input-group-prepend{
    background-color: #F8F8F8;
    border: 1px #A2B4CC solid;
    border-right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}

.sc-control{

  &__search{
    border: 1px #A2B4CC solid;
    border-left: 0;
    border-radius: 6px;
    background-color: #F8F8F8;
  }
  &--icon-search{
    background-image: url('../../../../assets/img/icons/icon-search.svg');
    text-align: center;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0.25rem;
  }
  &--send{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

::ng-deep .dropdown-item.active {
  background-color: $primary;
}

 ::ng-deep .dropdown-menu.show {
  max-height: 300px ;
  overflow-y: auto ;
}
