<div class="sc-camera">
  <div class="sc-camera__container">
    <video class="sc_camera__preview" #camera autoplay [ngClass]="{ hide: !enabledCamera }" (play)="positionateCamera()"></video>
    <img #previewImage src="" alt="" class="sc-camera__photo" [ngClass]="{ hide: enabledCamera}">
    <div class="sc-camera__controls d-flex justify-content-center align-items-center" [ngClass]="{'hint-controls': !enabledCamera}">
      <button
        class="btn sc-camera__btn-capture pb-4"
        (click)="takePhoto()"
        *ngIf="enabledCamera"
      ></button>
      <button
        class="btn btn-secondary mx-1 btn-text"
        (click)="recapture()"
        *ngIf="!enabledCamera"
      >
    {{'lbl_new_photo' | mapConfigLang}}</button>
      <button
        class="btn btn-primary mx-1 text-white btn-text"
        (click)="sendPhoto()"
        *ngIf="!enabledCamera"
      >
      {{'lbl_send_photo' | mapConfigLang}}</button>
    </div>
  </div>
</div>
