@import '../../../assets/bootstrap/index.scss';
.register-container {
  width: 100vw;
  height: 100vh;
  background: $primary;
  background-position: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  @media (max-width: 768px) {
  }
}

.sc-brand {
  width: 260px;
  height: 5%;
  margin-bottom: 3%;
  margin-top: 2%;
}
