<div class="container-fluid sc-full-height bg-primary">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12 px-0">
      <div class="sc-brand sc-brand--alternative">
        <picture>
          <img class="img-fluid" src="../../../assets/img/sc-logo-sm.png" alt="" srcset="" width="100%">
        </picture>
      </div>
      <div class="sc-landingPage">
          <span class="sc-landingPage__text">Según tu perfil de cliente en Sistecrédito selecciona una opción</span>
      </div>
        <div class="sc-button-content">
            <a class="sc-landingPage__button sc-button-content__button-left" href="javascript:void(0)" [routerLink]="['/login']"
            style="text-decoration: none">
                <span class="sc-button-content__text"><span class="green-text">Solicita tu cupo</span> de crédito aquí</span>
            </a>
            <a class="sc-landingPage__button sc-button-content__button-right" (click)="showAlertRedirect()"
            style="text-decoration: none">
                <span class="sc-button-content__text">Conoce la información de tus <span class="green-text-customer">créditos activos</span></span>
            </a>
        </div>
    </div>
  </div>
</div>