@import '../../../assets/bootstrap/index.scss';

.sc-landingPage{
	text-align: center;
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 1.5px solid #ffffff;
	height: 40%;
	width: 95%;
	margin: auto;
	margin-bottom: -5%;
	margin-top: 8%;
	padding-top: 5%;
	border-bottom-style: none;
  &__text{
      color: #ffffff;
			font-size: 24px;
			font-weight: bold;
			margin-top: 20%;
	}
	&__button{
		background-color: #ffffff;
		width: 49%;
		height: 200px;
		text-align: center;
		border-radius: 27px 27px 27px 27px;
		-moz-border-radius: 27px 27px 27px 27px;
		-webkit-border-radius: 27px 27px 27px 27px;
		border: 0px solid #000000;
	}
}
.sc-button-content{
	width: 100%;
	display: inline-flex;
	&__button-left{
		background-image: url("src/assets/img/girl-neutro.svg");
		background-repeat: no-repeat;
		background-position-x: 50%;
		background-position-y: 78%;
		margin-right: 2%;
		padding: 1%;
		padding-top: 3%;
		@media (max-width: map-get($grid-breakpoints, 'lg' )) {
			padding: 0%;
			padding-top: 3%;
		}
	}
	&__button-left:hover{
		background-image: url("src/assets/img/girl-press.svg");
		border: 5px solid #A7BF30;
	}
	&__button-right{
		background-image: url("src/assets/img/boy-neutro.svg");
		background-repeat: no-repeat;
		background-position-x: 50%;
		background-position-y: 78%;
		padding: 1%;
		padding-top: 3%;
		@media (max-width: map-get($grid-breakpoints, 'lg' )) {
			padding: 0%;
			padding-top: 3%;
		}
	}
	&__button-right:hover{
		background-image: url("src/assets/img/boy-press.svg");
		border: 5px solid #A7BF30;
	}
	&__text{
		font-size: 16px;
		color: #007AA4;
		font-weight: 700;
		display: block;
		@media (max-width: map-get($grid-breakpoints, 'lg' )) {
			font-size: $sc-font-size-md;
		}
	}
}
.green-text{
	display: inline-block;
	background-color: #A7BF30;
	color: #ffffff;
	border-radius: 4px 4px 4px 4px;
    padding-right: 2%;
    padding-left: 2%;
}
.green-text-customer{
	display: inline-block;
	background-color: #A7BF30;
	color: #ffffff;
	border-radius: 4px 4px 4px 4px;
    padding-right: 2%;
    padding-left: 2%;
}