<app-sc-modal #modal [addClass]="'col-md-6 col-lg-4 col-xl-4'">
  <div class="sc-download">
    <img src="../../../../assets/img/customer-app-logo.png" alt="">
      <div *ngIf="device === 'Android' else iphoneMessage" >
        <h1 class="sc-card-container__title sc-card-container__title--info qa-download-app-title">Descarga y regístrate en la nueva app móvil Sistecredito personas</h1>
        <p class="sc-card-container__content qa-download-app-conent">En la que puedes realizar tu solicitud de cupo, de una manera más facil, rapida y segura.</p>
        <img src="../../../../assets/img/icons/icon-download.png" class="sc-download__icon" alt="Descargar">
        <div class="sc-btngroup">
          <a [href]="downloadAndroidAppLink" class="btn btn-darker sc-btn-appstore" target="_blank" >
            <img src="../../../../assets/img/google-play.png" height="24px" alt="Play Store">
          </a>
        </div>
      </div>
      <ng-template #iphoneMessage>
        <h1 class="sc-card-container__title sc-card-container__title--info qa-download-app-title">Descarga y regístrate en la nueva app móvil Sistecredito personas</h1>
        <p class="sc-card-container__content qa-download-app-conent">En la que puedes realizar tu solicitud de cupo, de una manera más facil, rapida y segura.</p>
      </ng-template>
  </div>
</app-sc-modal>
