@import '../../../../assets/bootstrap/variables';

$background-color: #f8f8f8;

.sc-detail-content {
  width: 100%;

  &__detail-credit {
    width: 100%;
  }

  &--detail-title {
    color: $primary;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
  }

  &--name-credit {
    color: $primary;
    font-size: 24px;
    font-weight: bold;
  }

  &--normal-text {
    font-size: 18px;
    color: $primary;
  }

  &--small-text {
    color: $primary;
    font-size: 13px;
  }

  &--medium-text {
    color: $sc-green;
    font-size: 16px;
  }

  &--large-text {
    color: $sc-green;
    font-size: 28px;
    font-weight: bold;
  }

  &--large-text::first-letter {
    text-transform: uppercase;
  }

  &--normal-link {
    color: $primary;
    font-size: 15px;
    text-decoration-line: underline;
  }

}
