<!-- <script src="https://apis.google.com/js/platform.js" id="google-jssdk"></script> -->
<form [formGroup]="formLogin" autocomplete="off" (ngSubmit)="onSubmitLogin()">

  <div class="sc-home-control">
    <sc-control
      class="is-focus"
      [form]="formLogin"
      name="username"
      type="email"
      theme="sc-field--home form-login"
      label="txt_hint_email"
      licon="sc-icon--user"
      [msgValidation]="{ 'pattern': 'msj_error_invalid_email_login'}"
      >
    </sc-control>
  </div>
   <div class="sc-home-control mt-xs-5 mb-2">
    <sc-control
      class="is-focus"
      [form]="formLogin"
      name="password"
      type="password"
      theme="sc-field--home password-login"
      label="txt_hint_password_sign_up"
      licon="sc-icon--password"
      ricon="sc-icon--password-show"
      [msgValidation]="{ pattern: 'msj_error_invalid_password_length'}"

      >
    </sc-control>
  </div>
  <div class="sc-login-validator sc-text-small" >
      <label  *ngIf="user == false"
      class=" qa-label-validator-user"
      [innerHTML]="'msj_error_invalid_credentials' | mapConfigBase" ></label>
  </div>

  <div class="sc-form-block text-left">
    <a href="javascript:void(0)" class="sc-link sc-text-small qa-text-password" [routerLink]="['/forgot-recovery-password']"
    [innerHTML]="'btn_forgot_password' | mapConfigBase" ></a></div>
  <div class="sc-login">
      <button class="btn sc-btn-outline-thrtiary--lg qa-btn-login" [disabled]="!formLogin.valid"
      [innerHTML]="'btn_login' | mapConfigBase"></button>
  </div>
</form>

<fieldset class="sc-additional-login">
  <legend>Continuar con</legend> 
    <img class="sc-icons-login" src="../../../../assets/img/icons/icon-google.svg" (click)="signInWithExternal('google')">
    <img class="sc-icons-login" src="../../../../assets/img/icons/icon-facebook.svg" (click)="signInWithExternal('facebook')">
</fieldset>

