<div class="container-fluid sc-full-height bg-primary">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12 px-0">
      <div class="sc-brand sc-brand--alternative">
        <picture>
          <img class="img-fluid" src="../../../assets/img/sc-logo-sm.png" alt="" srcset="" width="100%">
        </picture>
      </div >
      <div class="card sc-card-container">
        <div class="text-center">
          <h1 class="text-primary sc-card-container__title mb-4 qa-title-locked-camera"
          [innerHTML]="'lbl_tittle_browser_configuration' | mapConfigLang"></h1>
          <p class="sc-card-container__info qa-info-locked-camera mb-4"
          [innerHTML]="'lbl_browser_configuration' | mapConfigLang"></p>
          <div class="icon-content qa-navigator-icons">
            <a href="https://support.apple.com/es-co/guide/safari/ibrw7f78f7fe/mac" target="_blank"
            rel="noopener noreferrer">
              <img class="icons" src="../../../../assets/img/icons/icon-safari.png" alt="">
            </a>
            <a href="https://support.google.com/chrome/answer/114662?co=GENIE.Platform%3DDesktop&hl=es"
             target="_blank" rel="noopener noreferrer">
             <img class="icons" src="../../../../assets/img/icons/icon-chrome.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
