<div #backdrop class="sc-backdrop sc-backdrop--user-status" 
  *ngIf="customerStatus == stateCustomer.new && tooltipOpen == true || (customerStatus === stateCustomer.negated && tooltipOpen == true)
  || customerStatus === stateRequest.pending && tooltipOpen == true"
  (click)="close()" (keydown.esc)="close()" tabindex="0"></div>
<div class="sc-dashboard-row row">
  <div class="col-12">
    <a href="javascript:void(0)" [routerLink]="['/' + nameRoutes.requestQuota]" [routerLinkActive]="'is-active'"
    class="card sc-card-list sc-card-list--link sc-backdrop__supermipose qa-request-quota"
     *ngIf="customerStatus === stateCustomer.new || (customerStatus === stateCustomer.negated && retryRequest === true) 
     || (customerStatus === stateRequest.pending && retryRequest === true)">
      <img src="../../../../assets/img/icons/solicitud-creditos.svg" class="sc-card-list--icons sc-card-list--icons--request qa-card-icons">
      <span class="sc-card-list__link-text">{{'lbl_request_quota' | mapConfigLang}}</span>
    </a>
    <div class="tooltip" *ngIf="customerStatus === stateCustomer.new && tooltipOpen == true">
      <span class="tooltip__text">
        {{'lbl_tooltip' | mapConfigLang}}
        <button class="btn sc-backdrop--button" (click)="close()">
          {{ "btn_accept_new_request" | mapConfigLang }}
        </button>
      </span>
    </div>
    <div class="tooltip" 
      *ngIf="(customerStatus === stateCustomer.negated && tooltipOpen == true && retryRequest == true) 
      || (customerStatus === stateRequest.pending && tooltipOpen == true && retryRequest == true)">
      <span class="tooltip__text">
        {{'lbl_retry_request' | mapConfigLang}}
        <button class="btn sc-backdrop--button" (click)="close()">
          {{ "btn_accept_new_request" | mapConfigLang }}
        </button>
      </span>
    </div>
    <a href="javascript:void(0)" [routerLink]="['/' + nameRoutes.credits]" [routerLinkActive]="'is-active'" class="card sc-card-list sc-card-list--link"
      *ngIf="env.release >= 3 && (customerStatus === stateCustomer.active || customerStatus === stateCustomer.negated) qa-manage-credits">
      <img src="../../../../assets/img/icons/active-credit.svg" class="sc-card-list--icons sc-card-list--icons--credits qa-card-icons">
      <span class="sc-card-list__link-text">{{'lbl_manage_credits' | mapConfigLang}}</span>
    </a>
    <a href="javascript:void(0)" [routerLink]="['/' + nameRoutes.quickPayment]" class="card sc-card-list sc-card-list--link qa-menu-where-to-buy"
    *ngIf="env.release >= 3 && (customerStatus === stateCustomer.active)">
      <img src="../../../../assets/img/icons/icon-pay-credits.svg" class="sc-card-list--icons sc-card-list--icons--stores qa-card-icons">
      <span class="sc-card-list__link-text sc-card-list__link-text--stores">{{'lbl_pay_credits' | mapConfigLang}}</span>
    </a>
     <!--<a href="javascript:void(0)" class="card sc-card-list sc-card-list--link qa-menu-promotions">
      <img src="../../../../assets/img/icons/promociones.png" class="sc-card-list--icons sc-card-list--icons--promotions qa-card-icons">
      <span class="sc-card-list__link-text sc-card-list__link-text--promotions">{{'lbl_menu_promotions' | mapConfigLang}}</span>
    </a>
    <a href="javascript:void(0)" class="card sc-card-list sc-card-list--link qa-allied-brands">
      <img src="../../../../assets/img/icons/aliados.png" class="sc-card-list--icons sc-card-list--icons--brands qa-card-icons">
      <span class="sc-card-list__link-text">{{'lbl_allied_brands' | mapConfigLang}}</span>
    </a> -->
    <a [href]="urlAction" target="_blank" class="card sc-card-list sc-card-list--link qa-allied-brands" *ngIf="env.release >= 3">
      <img src="../../../../assets/img/icons/icon-catalogue.svg" class="sc-card-list--icons sc-card-list--icons--brands qa-card-icons">
      <span class="sc-card-list__link-text">{{'lbl_menu_catalogue' | mapConfigLang}}</span>
    </a>
  </div>
</div>

