@import '../../../../assets/bootstrap/variables';

.sc-personal-reference{
  width: inherit;
  height: 100%;
  margin: 5%;
  padding: 5%;

  &__title{
    color: $primary;
    font-weight: bold;
  }
  &__select{
    border: 1px #A2B4CC solid;
    border-radius: 4px;
  }
  &--send{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

